header .container-fluid {
  background-image: url("image/pikachu.png");
}

.rt {
  background-image: url("image/1009976.jpg");
  height: auto;
  width: auto;
}
.et {
  background-image: url("image/1012600.jpg");
  height: auto;
  width: auto;
}

.wn {
  background-image: url("image/1013808.jpg");
  height: auto;
  width: auto;
  color: aliceblue;
}

.color {
  background-color: aqua;
}

.center {
  text-align: center;
  margin: 4px;
}
